@charset "UTF-8";
/*
  MetaMask design system imports
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   ⚠️ This file has been updated from the original copy. ⚠️
*/

